# Object files
*.o

# Executables
osm_debug
osm_release
osm_test

# Build directory
/build/

# MacOS metadata
.DS_Store

# Editor/IDE files
*.swp
*.swo
*.swn
*~
.vscode/
.idea/
*.code-workspace

# OSM files
*.osm.pbf

# bin import / export files
*.bin